.UHGreenBG{
  background: #00512f !important;
}

.headerImage {
  background: url('/images/QuestBoard.png') no-repeat center center fixed !important;
  background-size: contain;
}

.smallMarginBot {
  margin-bottom: 2em;
}

.landingCard .header,
.landingCard .description{
  color: white;
}

.invert {
  filter: invert(100%);
}
