<template name="search">
  <div class="page-header clearfix">
    <h4 class="pull-left">Quests</h4>
    <div class="pull-right">
      <input type="text" name="search" class="form-control" width="250px" placeholder="Find a quest...">
    </div>
  </div>

  <ul class="list-group">
    {{#if searching}}
    {{> loading}}
    {{else}}
    {{#each quest}}
    <li class="list-group-item clearfix">
      <span class="pull-left">{{title}} by <strong>{{quest}}</strong></span>
      <span class="pull-right">{{year}}</span>
    </li>
    {{else}}
    <p class="alert alert-warning">Nothing found for {{query}}. Sorry.</p>
    {{/each}}
    {{/if}}
  </ul>
</template>
