.centerM {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.userCardBorder {
  border: 2px solid;
  border-radius: 25px;
  max-height: 250px;
}

.userName {
  padding: 10px;
}

/* allow room for 3 columns */
.skillList
{
  width: 20em;
}  /* float & allow room for the widest item */
.skillList .skillListItem
{
  float: left;
  width: 10em;
}  /* stop the float */

.userImage {
  border-radius: 25px;
}
